{% extends 'base2.html' %}

{% block title %} FinPal {% endblock %}

{% block body %}
{% load static %}
<div class="container" style="width:30%;padding:91px 0px 66px 0px;">
    <form action="/handle_change_password/" method="post">
    {% csrf_token %}
  <div class="form-group" style="margin-bottom:20px">
    <label for="exampleInputEmail1">Old Password</label>
    <input type="password" class="form-control" id="exampleInputEmail1" name="password" aria-describedby="emailHelp"
    placeholder="Old Password">

  </div>
  <div class="form-group" style="margin-bottom:20px">
    <label for="exampleInputPassword1">New Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="newpassword"
    placeholder="New Password">
  </div>
   <div class="form-group" style="margin-bottom:20px">
    <label for="exampleInputPassword1">Confirm New Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" name="newpassword2"
    placeholder="Confirm New Password">
  </div>
    <p>Changing Password will log you out from all devices</p>
  <button type="submit" class="btn btn-primary"
  style="background-color: #02147e;color: white;margin:auto 30%;width:40%">Change
  </button>
</form>
</div>
{% endblock %}