{% extends 'base2.html' %}

{% block title %} FinPal {% endblock %}



{% block body %}
{% load static %}

<div class="container">
        <div class="block" style="background-color: white;margin:4% 6%; padding:2% 5% 2%;">
          <div id="add">
            <p style="text-align-last: center;
                font-size: 17px;
                font-weight: bold;">Here are your Portfolios</p>

          </div>
          <table class="table table-striped table-hover">

            <tbody>
            {% for item in list %}
              <tr style="cursor: pointer;">

                <td>{{item}}</td>
                <td>{{item.category}}</td>
                <td
                style="text-align:end;"><a href="/make_prediction/{{item}}/{{item.category}}"><button>Predict</button></a></td>

              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

      </div>






{% endblock %}

