{% extends 'base2.html' %}

{% block title %} FinPal {% endblock %}

{% block body %}
{% load static %}
  <!-- ======= Header2 ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: #f2f2f2;">




      <nav id="navbar" class="navbar " style="margin-left: 74px;">
        <ul style="align-items:center;">
          <li><a class="nav-link scrollto" href="index.html" style="font-weight:bold;color:black;">NasDaq</a></li>
          <li><a class="nav-link scrollto" href="index.html#about" style="margin-left:-15px;color:black">3456<div
                style="color:red;margin-left:4px;margin-right:4px;">&#x25bc</div>
              <div style="color:red">-0.02%</div>
            </a></li>

          <li><a class="nav-link scrollto" href="login.html" style="font-weight:bold;color:black;">TATA</a></li>
          <li><a class="nav-link scrollto" href="index.html#about" style="margin-left:-15px;color:black">3456<div
                style="color:green;margin-left:4px;margin-right:4px;"> &#x25B2</div>
              <div style="color:green">+0.02%</div>
            </a></li>

          <li><a class="nav-link scrollto" href="index.html" style="font-weight:bold;color:black;">NasDaq</a></li>
          <li><a class="nav-link scrollto" href="index.html#about" style="margin-left:-15px;color:black">3456<div
                style="color:red;margin-left:4px;margin-right:4px;">&#x25bc</div>
              <div style="color:red">-0.02%</div>
            </a></li>

          <li><a class="nav-link scrollto" href="login.html" style="font-weight:bold;color:black;">TATA</a></li>
          <li><a class="nav-link scrollto" href="index.html#about" style="margin-left:-15px;color:black">3456<div
                style="color:green;margin-left:4px;margin-right:4px;"> &#x25B2</div>
              <div style="color:green">+0.02%</div>
            </a></li>

          <li><a class="nav-link scrollto" href="index.html" style="font-weight:bold;color:black;">NasDaq</a></li>
          <li><a class="nav-link scrollto" href="index.html#about" style="margin-left:-15px;color:black">3456<div
                style="color:red;margin-left:4px;margin-right:4px;">&#x25bc</div>
              <div style="color:red">-0.02%</div>
            </a></li>

          <li><a class="nav-link scrollto" href="login.html" style="font-weight:bold;color:black;">TATA</a></li>
          <li><a class="nav-link scrollto" href="index.html#about" style="margin-left:-15px;color:black">3456<div
                style="color:green;margin-left:4px;margin-right:4px;"> &#x25B2</div>
              <div style="color:green">+0.02%</div>
            </a></li>






        </ul>

      </nav><!-- .navbar -->


    </header><!-- End Header 2-->



    <!-- ======= Header3 ======= -->
    <header id="header" class="d-flex align-items-center" style="background-color: #f2f2f2">




      <nav id="navbar" class="navbar " style="margin-left: 74px;">
        <ul style="align-items:center;">
          <li><a class="nav-link scrollto" href="{% url 'equity_search' %}"
              style="font-weight:bold;color:black;margin-left:165px;">Equity</a></li>


          <li><a class="nav-link scrollto" href="login.html"
              style="font-weight:bold;color:black;margin-left:95px;">ETP</a></li>


          <li><a class="nav-link scrollto" href="index.html"
              style="font-weight:bold;color:black;margin-left:95px;">Crypto</a></li>


          <li><a class="nav-link scrollto" href="login.html"
              style="font-weight:bold;color:black;margin-left:95px;">DogeCoin</a></li>


          <li><a class="nav-link scrollto" href="index.html"
              style="font-weight:bold;color:black;margin-left:95px;">Nifty</a></li>


          <li><a class="nav-link scrollto" href="login.html" style="font-weight:bold;color:black;margin-left:95px;">HS
              Index</a></li>







        </ul>

      </nav><!-- .navbar -->


    </header><!-- End Header 3-->





      <div class="container">
        <div class="row" style="margin-top:40px;">
        {% for i in out %}
          <div class="col-md-3">
            <a href={{i.image.webpageUrl}} target="_blank">
              <div class="card" style="border:none;background-color:#f2f2f2;cursor:pointer;">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="{{i.image.url}}" class="img-fluid" style="width:306px; height:182px;"/>
                  <a href={{i.image.webpageUrl}} target="_blank">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{i.title}}</h5>
                  <p class="card-text">{{i.description}}</p>

                </div>
              </div>
            </a>
          </div>
      {% endfor %}




        </div>

      </div>



{% endblock %}